body
{
    background-color: rgb(20, 10, 26);
    font-family:sans-serif;
    height: 100vh;
    color:white;
    display: flex;
    justify-content: space-around;
}

.log-des
{
    text-align: center;
    padding: 30px;
    letter-spacing: 1px;
}

.log-des h3{
    padding: 30px;
}

.short-b-links
{  
      display: flex;
    justify-content: center;
    
}
.short-b-links span img
{
    height: 50px;
    border-radius: 50%;
    margin: 15px;
}

.or-btn
{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.or-btn button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(39, 42, 50, 0.492);
    color: white;
}

  form > div{
    position: relative;
    margin-top: 30px;
    margin: 50px 0;
  }
  
  form label{
    position: absolute;
    opacity: 0.6;
    font-size: 0.85rem;
    pointer-events: none;
    transition: all .22s;
    top: 50%;
    left: 5%;
    padding-bottom: 2.5rem;
    transform: translateY(-50%);
    display: block;
  }
  
  form input{
    width: 90%;
    background: transparent;
    padding-bottom: 0.5rem;
    margin: 1.5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(52, 51, 51);
    color: #fff;
    font-size: 1.35rem;
  }
  
  
  form input:focus + label,
  form input:valid + label
  {
    top: 0;
    transform: translateY(0);
    opacity: 0.6
  }
  .forgot a
  {
     text-decoration: none;
     color: rgb(160, 124, 215);
     margin-left: 35%;
  }
  
  .login-btn
  {
    margin-left: 20px;
    margin-bottom: 30px;
    left: 0%;
  }
  .login-btn button
  { width: 90%;
    padding: 20px;
    opacity: 0.6;
    background: transparent;
    color: white;
    font-size: 1.15rem;
    border: 1px solid white;
    border-radius: 8px;
  }
 .new-user span
 {
    text-decoration: none;
    color:white;
    margin-left: 35%;
    font-size: 1em;;
 }

 .new-user span a
 {
text-decoration: none;
color: rgb(160, 124, 215);
 }


